//! **************************************************************************
// Written by: Map J.36 on Fri Apr 26 18:22:44 2013
//! **************************************************************************

SCHEMATIC START;
COMP "led" LOCATE = SITE "AG5" LEVEL 1;
COMP "rid" LOCATE = SITE "AH1" LEVEL 1;
COMP "VGA_HSYNCH" LOCATE = SITE "B8" LEVEL 1;
COMP "VGA_VSYNCH" LOCATE = SITE "D11" LEVEL 1;
COMP "kb_data" LOCATE = SITE "AG1" LEVEL 1;
COMP "clk10" LOCATE = SITE "AC4" LEVEL 1;
COMP "reset" LOCATE = SITE "AF8" LEVEL 1;
COMP "start" LOCATE = SITE "AC11" LEVEL 1;
COMP "pausein" LOCATE = SITE "AH4" LEVEL 1;
COMP "SYSTEM_CLOCK" LOCATE = SITE "AJ15" LEVEL 1;
COMP "VGA_OUT_PIXEL_CLOCK" LOCATE = SITE "H12" LEVEL 1;
COMP "VGA_OUT_GREEN<0>" LOCATE = SITE "G10" LEVEL 1;
COMP "VGA_OUT_GREEN<1>" LOCATE = SITE "E10" LEVEL 1;
COMP "VGA_OUT_GREEN<2>" LOCATE = SITE "D10" LEVEL 1;
COMP "VGA_OUT_GREEN<3>" LOCATE = SITE "D8" LEVEL 1;
COMP "VGA_OUT_GREEN<4>" LOCATE = SITE "C8" LEVEL 1;
COMP "VGA_OUT_GREEN<5>" LOCATE = SITE "H11" LEVEL 1;
COMP "VGA_OUT_GREEN<6>" LOCATE = SITE "G11" LEVEL 1;
COMP "VGA_OUT_GREEN<7>" LOCATE = SITE "E11" LEVEL 1;
COMP "kb_clk" LOCATE = SITE "AG2" LEVEL 1;
COMP "VGA_OUT_BLANK_Z" LOCATE = SITE "A8" LEVEL 1;
COMP "VGA_OUT_BLUE<0>" LOCATE = SITE "D15" LEVEL 1;
COMP "VGA_OUT_BLUE<1>" LOCATE = SITE "E15" LEVEL 1;
COMP "VGA_OUT_BLUE<2>" LOCATE = SITE "H15" LEVEL 1;
COMP "VGA_OUT_BLUE<3>" LOCATE = SITE "J15" LEVEL 1;
COMP "VGA_OUT_BLUE<4>" LOCATE = SITE "C13" LEVEL 1;
COMP "VGA_OUT_BLUE<5>" LOCATE = SITE "D13" LEVEL 1;
COMP "VGA_OUT_BLUE<6>" LOCATE = SITE "D14" LEVEL 1;
COMP "VGA_OUT_BLUE<7>" LOCATE = SITE "E14" LEVEL 1;
COMP "VGA_OUT_RED<0>" LOCATE = SITE "G8" LEVEL 1;
COMP "VGA_OUT_RED<1>" LOCATE = SITE "H9" LEVEL 1;
COMP "VGA_OUT_RED<2>" LOCATE = SITE "G9" LEVEL 1;
COMP "VGA_OUT_RED<3>" LOCATE = SITE "F9" LEVEL 1;
COMP "VGA_OUT_RED<4>" LOCATE = SITE "F10" LEVEL 1;
COMP "VGA_OUT_RED<5>" LOCATE = SITE "D7" LEVEL 1;
COMP "VGA_OUT_RED<6>" LOCATE = SITE "C7" LEVEL 1;
COMP "VGA_OUT_RED<7>" LOCATE = SITE "H10" LEVEL 1;
COMP "VGA_COMP_SYNCH" LOCATE = SITE "G12" LEVEL 1;
NET "kb_clk_BUFGP/IBUFG" BEL "kb_clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
PIN XLXI_22/VIDEO_OUT/PIXEL_CLOCK_OUT/FDDRRSE1/FF0_pins<1> = BEL
        "XLXI_22/VIDEO_OUT/PIXEL_CLOCK_OUT/FDDRRSE1/FF0" PINNAME CK;
PIN XLXI_22/VIDEO_OUT/PIXEL_CLOCK_OUT/FDDRRSE1/FF1_pins<1> = BEL
        "XLXI_22/VIDEO_OUT/PIXEL_CLOCK_OUT/FDDRRSE1/FF1" PINNAME CK;
PIN XLXI_22/COLOR_BARS/GREEN_RAM/Mram_ram.A_pins<15> = BEL
        "XLXI_22/COLOR_BARS/GREEN_RAM/Mram_ram.A" PINNAME CLKA;
PIN XLXI_22/COLOR_BARS/GREEN_RAM/Mram_ram.B_pins<15> = BEL
        "XLXI_22/COLOR_BARS/GREEN_RAM/Mram_ram.B" PINNAME CLKB;
PIN XLXI_22/COLOR_BARS/BLUE_RAM/Mram_ram.A_pins<15> = BEL
        "XLXI_22/COLOR_BARS/BLUE_RAM/Mram_ram.A" PINNAME CLKA;
PIN XLXI_22/COLOR_BARS/BLUE_RAM/Mram_ram.B_pins<15> = BEL
        "XLXI_22/COLOR_BARS/BLUE_RAM/Mram_ram.B" PINNAME CLKB;
PIN XLXI_22/COLOR_BARS/RED_RAM/Mram_ram.A_pins<15> = BEL
        "XLXI_22/COLOR_BARS/RED_RAM/Mram_ram.A" PINNAME CLKA;
PIN XLXI_22/COLOR_BARS/RED_RAM/Mram_ram.B_pins<15> = BEL
        "XLXI_22/COLOR_BARS/RED_RAM/Mram_ram.B" PINNAME CLKB;
TIMEGRP XLXI_22_CLOCK_GEN_pixel_clock_unbuffered = BEL
        "XLXI_14/cd1/counter1/counterout_3" BEL
        "XLXI_14/cd1/counter1/counterout_2" BEL
        "XLXI_14/cd1/counter1/counterout_1" BEL
        "XLXI_14/cd1/counter1/counterout_0" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/line_count_9" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/line_count_8" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/line_count_7" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/line_count_6" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/line_count_5" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/line_count_4" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/line_count_3" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/line_count_2" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/line_count_1" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/line_count_0" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/pixel_count_10" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/pixel_count_9" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/pixel_count_8" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/pixel_count_7" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/pixel_count_6" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/pixel_count_5" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/pixel_count_4" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/pixel_count_3" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/pixel_count_2" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/pixel_count_1" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/pixel_count_0" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/v_synch_delay" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/h_synch_delay" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/v_synch_delay0" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/h_synch_delay0" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/blank" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/v_blank" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/h_blank" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/v_synch" BEL
        "XLXI_22/SVGA_TIMING_GENERATION/h_synch" PIN
        "XLXI_22/VIDEO_OUT/PIXEL_CLOCK_OUT/FDDRRSE1/FF0_pins<1>" PIN
        "XLXI_22/VIDEO_OUT/PIXEL_CLOCK_OUT/FDDRRSE1/FF1_pins<1>" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_BLUE_7" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_BLUE_6" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_BLUE_5" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_BLUE_4" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_BLUE_3" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_BLUE_2" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_BLUE_1" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_BLUE_0" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_GREEN_7" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_GREEN_6" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_GREEN_5" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_GREEN_4" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_GREEN_3" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_GREEN_2" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_GREEN_1" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_GREEN_0" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_RED_7" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_RED_6" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_RED_5" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_RED_4" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_RED_3" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_RED_2" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_RED_1" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_RED_0" BEL
        "XLXI_22/VIDEO_OUT/VGA_OUT_BLANK_Z" BEL
        "XLXI_22/VIDEO_OUT/VGA_COMP_SYNCH" BEL "XLXI_22/VIDEO_OUT/VGA_VSYNCH"
        BEL "XLXI_22/VIDEO_OUT/VGA_HSYNCH" BEL
        "XLXI_22/COLOR_BARS/pixel_count_10" BEL
        "XLXI_22/COLOR_BARS/pixel_count_9" BEL
        "XLXI_22/COLOR_BARS/pixel_count_8" BEL
        "XLXI_22/COLOR_BARS/pixel_count_7" BEL
        "XLXI_22/COLOR_BARS/pixel_count_6" BEL
        "XLXI_22/COLOR_BARS/pixel_count_5" BEL
        "XLXI_22/COLOR_BARS/pixel_count_4" BEL
        "XLXI_22/COLOR_BARS/pixel_count_3" BEL
        "XLXI_22/COLOR_BARS/pixel_count_2" BEL
        "XLXI_22/COLOR_BARS/pixel_count_1" BEL
        "XLXI_22/COLOR_BARS/pixel_count_0" BEL
        "XLXI_22/COLOR_BARS/line_count_9" BEL
        "XLXI_22/COLOR_BARS/line_count_8" BEL
        "XLXI_22/COLOR_BARS/line_count_7" BEL
        "XLXI_22/COLOR_BARS/line_count_6" BEL
        "XLXI_22/COLOR_BARS/line_count_5" BEL
        "XLXI_22/COLOR_BARS/line_count_4" BEL
        "XLXI_22/COLOR_BARS/line_count_3" BEL
        "XLXI_22/COLOR_BARS/line_count_2" BEL
        "XLXI_22/COLOR_BARS/line_count_1" BEL
        "XLXI_22/COLOR_BARS/line_count_0" BEL
        "XLXI_22/COLOR_BARS/finishfinal_0" BEL
        "XLXI_22/COLOR_BARS/blue_factor_0" BEL
        "XLXI_22/COLOR_BARS/green_factor_0" BEL
        "XLXI_22/COLOR_BARS/red_factor_0" BEL "XLXI_22/COLOR_BARS/ssdisplay_2"
        BEL "XLXI_22/COLOR_BARS/ssdisplay_10" BEL
        "XLXI_22/COLOR_BARS/liveso_2" BEL "XLXI_22/COLOR_BARS/liveso_1" BEL
        "XLXI_22/COLOR_BARS/liveso_0" BEL "XLXI_22/COLOR_BARS/a_3_9" BEL
        "XLXI_22/COLOR_BARS/a_3_8" BEL "XLXI_22/COLOR_BARS/a_3_7" BEL
        "XLXI_22/COLOR_BARS/a_3_6" BEL "XLXI_22/COLOR_BARS/a_3_5" BEL
        "XLXI_22/COLOR_BARS/a_3_4" BEL "XLXI_22/COLOR_BARS/a_3_3" BEL
        "XLXI_22/COLOR_BARS/a_3_2" BEL "XLXI_22/COLOR_BARS/a_3_1" BEL
        "XLXI_22/COLOR_BARS/a_3_0" BEL "XLXI_22/COLOR_BARS/a_2_9" BEL
        "XLXI_22/COLOR_BARS/a_2_8" BEL "XLXI_22/COLOR_BARS/a_2_7" BEL
        "XLXI_22/COLOR_BARS/a_2_6" BEL "XLXI_22/COLOR_BARS/a_2_5" BEL
        "XLXI_22/COLOR_BARS/a_2_4" BEL "XLXI_22/COLOR_BARS/a_2_3" BEL
        "XLXI_22/COLOR_BARS/a_2_2" BEL "XLXI_22/COLOR_BARS/a_2_1" BEL
        "XLXI_22/COLOR_BARS/a_2_0" BEL "XLXI_22/COLOR_BARS/a_1_9" BEL
        "XLXI_22/COLOR_BARS/a_1_8" BEL "XLXI_22/COLOR_BARS/a_1_7" BEL
        "XLXI_22/COLOR_BARS/a_1_6" BEL "XLXI_22/COLOR_BARS/a_1_5" BEL
        "XLXI_22/COLOR_BARS/a_1_4" BEL "XLXI_22/COLOR_BARS/a_1_3" BEL
        "XLXI_22/COLOR_BARS/a_1_2" BEL "XLXI_22/COLOR_BARS/a_1_1" BEL
        "XLXI_22/COLOR_BARS/a_1_0" BEL "XLXI_22/COLOR_BARS/a_0_9" BEL
        "XLXI_22/COLOR_BARS/a_0_8" BEL "XLXI_22/COLOR_BARS/a_0_7" BEL
        "XLXI_22/COLOR_BARS/a_0_6" BEL "XLXI_22/COLOR_BARS/a_0_5" BEL
        "XLXI_22/COLOR_BARS/a_0_4" BEL "XLXI_22/COLOR_BARS/a_0_3" BEL
        "XLXI_22/COLOR_BARS/a_0_2" BEL "XLXI_22/COLOR_BARS/a_0_1" BEL
        "XLXI_22/COLOR_BARS/a_0_0" BEL "XLXI_23/count_20" BEL
        "XLXI_23/count_19" BEL "XLXI_23/count_18" BEL "XLXI_23/count_17" BEL
        "XLXI_23/count_16" BEL "XLXI_23/count_15" BEL "XLXI_23/count_14" BEL
        "XLXI_23/count_13" BEL "XLXI_23/count_12" BEL "XLXI_23/count_11" BEL
        "XLXI_23/count_10" BEL "XLXI_23/count_9" BEL "XLXI_23/count_8" BEL
        "XLXI_23/count_7" BEL "XLXI_23/count_6" BEL "XLXI_23/count_5" BEL
        "XLXI_23/count_4" BEL "XLXI_23/count_3" BEL "XLXI_23/count_2" BEL
        "XLXI_23/count_1" BEL "XLXI_23/count_0" BEL "XLXI_23/clkslow2" BEL
        "XLXI_23/finishPin_0" BEL "XLXI_22/COLOR_BARS/ssdisplay_5" BEL
        "XLXI_22/COLOR_BARS/ssdisplay_4" BEL "XLXI_22/COLOR_BARS/ssdisplay_3"
        BEL "XLXI_22/COLOR_BARS/ssdisplay_1" BEL
        "XLXI_22/COLOR_BARS/ssdisplay_0" BEL "XLXI_22/COLOR_BARS/ssdisplay_13"
        BEL "XLXI_22/COLOR_BARS/ssdisplay_12" BEL
        "XLXI_22/COLOR_BARS/ssdisplay_11" BEL "XLXI_22/COLOR_BARS/ssdisplay_9"
        BEL "XLXI_22/COLOR_BARS/ssdisplay_8" BEL
        "XLXI_22/COLOR_BARS/ssdisplay_7" PIN
        "XLXI_22/COLOR_BARS/GREEN_RAM/Mram_ram.A_pins<15>" PIN
        "XLXI_22/COLOR_BARS/GREEN_RAM/Mram_ram.B_pins<15>" PIN
        "XLXI_22/COLOR_BARS/BLUE_RAM/Mram_ram.A_pins<15>" PIN
        "XLXI_22/COLOR_BARS/BLUE_RAM/Mram_ram.B_pins<15>" PIN
        "XLXI_22/COLOR_BARS/RED_RAM/Mram_ram.A_pins<15>" PIN
        "XLXI_22/COLOR_BARS/RED_RAM/Mram_ram.B_pins<15>";
PIN XLXI_22/CLOCK_GEN/SYSTEM_DCM_pins<10> = BEL "XLXI_22/CLOCK_GEN/SYSTEM_DCM"
        PINNAME CLKIN;
TIMEGRP SYSTEM_CLOCK = PIN "XLXI_22/CLOCK_GEN/SYSTEM_DCM_pins<10>" BEL
        "XLXI_22/CLOCK_GEN/RESET_SYSTEM_DCM/SRL16E";
TS_SYSTEM_CLOCK = PERIOD TIMEGRP "SYSTEM_CLOCK" 10 ns HIGH 50%;
TS_XLXI_22_CLOCK_GEN_pixel_clock_unbuffered = PERIOD TIMEGRP
        "XLXI_22_CLOCK_GEN_pixel_clock_unbuffered" TS_SYSTEM_CLOCK / 0.25 HIGH
        50%;
SCHEMATIC END;
